*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: gray;
    font-family: "Montserrat", sans-serif;
    height:100%;
    width:100%;
    
}
nav {
    display: flex;
    margin:0 auto;
}
.nav {
    width: 1083px;
    height: 104px;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 20px;
    justify-content: space-between;
    padding: 0 60px;
    z-index: 10;
    position: relative; 
    margin-top: 40px;

}
.logo{
    margin-top: -140px;
    margin-left:40px;
}

.nav .navElements {
    margin-top:20px;
}
.nav .navElements ul {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    gap:60px;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 22px;
    color: #612828;
    overflow: hidden;
    padding-bottom:5px;
}

.navElements ul li {
    cursor: pointer;
    position: relative;
}

.navElements ul li:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0; 
    left: 50%; 
    width: 0; 
    height: 3px; 
    background: #612828;
    transition: width 0.5s ease;
    transform: translateX(-50%);
}

.navElements ul li:hover:after {
    width: 100%;
}

.herosec img{
    z-index: 0;
    position: absolute;
    background-size: cover;
}

.herosec {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}
.herosec::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    background-image: url('../img/herobg.png');
    background-size: cover;
    background-position: center;
    filter: brightness(0.5);
    z-index: -1;
}
.herosec .sidetext {
    display: flex;
    justify-content: flex-end;
    margin:auto 0;
    margin-right:280px;
}
.herosec .sidetext p {
    color:white;
    background-color: #B76161;
    font-size: 40px;
    font-weight: 500;
    padding:20px 0;
    max-width: 450px;
    border-radius: 20px;
    text-align: center;
}

.prioritetisection {
    padding: 100px 0;
}
.prioritetisection .sidetext h1{
    color: #B76161;
    font-size: 64px;
    font-weight:500;
    margin-bottom:30px;
}

.prioritetisection .sidetext p{
    font-size: 24px;
    width: 585px;
}

.prioritetisection .sidetext p span{
    color: #B76161;
}

.prioritetisection .sideimage {
    pointer-events: none;
    user-select: none;
}

.section2 {
    background-image: 
        linear-gradient(90deg, rgba(0,0,0,0.7) 0%, rgba(183,97,97,1) 100%),
        url('../img/section2bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
}
.section2 .card {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin:50px 20px;
    max-width: 300px;
    padding:20px 10px;
    border-radius: 20px;
}
.section2 .saznajvisebtn {
    background-color: #B76161;
    color: white;
    display: flex;
    border:none;
    padding:3px 15px;
    border-radius: 10px;
    align-items: center;
}

.section2 .col-md-6:first-child {
    display: flex;
    justify-content: end;
}
.section2 .col-md-6{
    display: flex;
    justify-content: start;
}

.section2 .card p{
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 480;
}

.section2 .card .img {
    user-select: none;
    pointer-events: none;
}

.section2 .card .saznajvisebtn:hover{
    background-color: #612828;

}

.section3 {
    display: flex;
}

.section3 .container {
    display: flex;
    justify-content: space-between;
}

.section3 .card {
    display: flex;
    background-color: #B76161;
    align-items: center;
    margin: 70px 0;
    padding: 20px 35px;
    max-width: 250px;
    color: white;
    border-radius: 12px;
}

.section3 .card p{
    font-size: 24px;
    text-align: center;
}

.section3 .card h6{
    font-size: 36px;
    margin-top:10px;
}

.section3 .card h6:before{
    content:'+';
}

.footer {
    background-color: #B76161;
    color:white;
    padding-top: 120px;
}

.footer .container {
    display: flex;
    justify-content: space-between;
}

.footer .sec1 {
    margin-top:-45px;
}

.footer p,
.footer ul li{
    font-size: 18px;
}

.footer ul li{
    margin-top: 15px;
    cursor: pointer;
    width: fit-content;
}

.footer ul li:hover {
    text-decoration: underline;
}

.footer ul li a{
    text-decoration: none;
    color: white;
}

.footer .img {
    user-select: none;
    pointer-events: none;
}

.footer .copyright p{
    padding:0;
    margin: 60px 0 0 0;
    text-align: center;
    font-size: 15px;
}